includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/factories
        - database/seeders
        - routes/

    level: max

    #checkOctaneCompatibility: true

    checkModelProperties: true
